@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.type-screen {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
    text-align: justify;
    padding-top: 40px;
}

.text-area {
    width: 80vw;
    max-width: 800px;
    height: 110px;
    color: white;
    font-size: 1.5rem;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
}

.text-area span {
    margin: 0;
    padding: 0;
    height: min-content;
    word-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}

.text-area .typed {
    color: white;
}

.text-area .untyped {
    color: darkgray;
    border-left: 1px solid white;
}
