@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.overlay-menu-top {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
    text-align: justify;
    padding-top: 40px;
}

.overlay-menu-top__text-container {
    width: 80vw;
    max-width: 800px;
    height: 110px;
    color: white;
    font-size: 1.5rem;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
}

.overlay-menu-top__text-container span {
    margin: 0;
    padding: 0;
    height: min-content;
    word-spacing: 0px;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
}

.overlay-menu-top__text-container .typed {
    color: white;
}

.overlay-menu-top__text-container .untyped {
    color: darkgray;
    border-left: 1px solid white;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

.overlay-menu-top__text-container--text-blinking {
    animation: blinker 2s linear infinite;
}

.full-screen-menu {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(110%) blur(10px);
    border-radius: 10px;
}

.game-over-menu__chart-container {
    position: relative;
    width: 65vw;
    max-width: 900px;
}
